<div class="px-4 pt-5 my-5 text-center border-bottom" style="border-color: #C390D9 !important; border-width: 2px !important;">
	<img class="d-block mx-auto mb-4" src="@TitleImageSource" alt="" width="256" height="256">
	<h1 class="display-4">@Title</h1>
	<div class="col-lg-6 mx-auto">
		<p class="lead mb-4">@ChildContent</p>
		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
			@if (Buttons is not null)
			{
				int idx = 0;
				@foreach (var button in Buttons)
				{
					string buttonClass = idx == 0 ? "btn btn-primary btn-lg px-4 gap-3" : "btn btn-secondary btn-lg px-4";
					<button class="@buttonClass" type="button" @onclick="@button.Item1">@button.Item2</button>
					idx++;
				}
			}
		</div>
	</div>
	<div class="overflow-hidden" style="max-height: 30vh;">
		<div class="container px-5">
			<img src="@ImageSource" class="img-fluid border rounded-3 shadow-lg mb-4" width="700" height="500" loading="lazy" style="border-color: #C390D9 !important; border-width: 2px !important;" />
		</div>
	</div>
</div>

@code {
	[Parameter]
	public (EventCallback, string)[] Buttons { get; set; }
	[Parameter]
	public string Title { get; set; }
	[Parameter]
	public string TitleImageSource { get; set; } = "assets/logos/aptivi-logo-transparent-ios.png";
	[Parameter]
	public string ImageSource { get; set; } = "assets/logos/aptivi-logo-transparent-ios.png";
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
