<div class="px-4 py-5 text-center w-100 min-vh-100 d-flex flex-column justify-content-center align-items-center">
	<img class="d-block mx-auto mb-4 img-fluid" src="@ImageSource" alt="" style="max-width: 256px; height: auto;">
	<h1 class="fs-1">@Title</h1>
	<div class="col-lg-6 mx-auto">
		<p>@ChildContent</p>
		<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
			@if (Buttons is not null)
			{
				int idx = 0;
				@foreach (var button in Buttons)
				{
					string buttonClass = idx == 0 && !ForceSecondaryButtons ? "btn btn-primary px-4 gap-3" : "btn btn-secondary px-4";
					<button class="@buttonClass" type="button" @onclick="@button.Item1">@button.Item2</button>
					idx++;
				}
			}
		</div>
	</div>
</div>

@code {
	[Parameter]
	public (EventCallback, string)[] Buttons { get; set; }
	[Parameter]
	public string Title { get; set; }
	[Parameter]
	public string ImageSource { get; set; } = "assets/logos/aptivi-logo-transparent-ios.png";
	[Parameter]
	public bool ForceSecondaryButtons { get; set; } = false;
	[Parameter]
	public RenderFragment ChildContent { get; set; }
}
