@page "/branding/guidelines"
@inject NavigationManager NavManager
@inject IJSRuntime JSRuntime;

<PageTitle>Brand Guidelines - Aptivi</PageTitle>

@using System.Threading;
@using System.Net;
@using System.Text;
@using aptivi.github.io.Data
@using System.IO
@using System.Text.Json

<Hero Title="Brand Guidelines">
	Thanks for your interest in our press kit! However, here's the brand
	guidelines that you'll need to follow.
</Hero>
<Jumbotron Title="Why consistency matters?">
	Our brand kit provides not just the branding images that you can use within your design,
	but this kit comes with guidelines and templates that you'll have to follow in order to
	achieve consistency, such as the colors that are used within a design. When we place these
	branding guidelines for our logos and assets, this means that you'll need to follow them
	in your design to ensure that they meet our standards, and that your design is reminiscent
	of ours. Usage of the Aptivi logos and assets is free, but the guidelines need to be
	followed. Consistency in design is important, hence the below guidelines that will be
	outlined below.
</Jumbotron>
<Features FeatureArray="@LogoAssets" />
<Jumbotron Title="What about other assets?">
	We are not only providing the brand logos (normal and monochrome, with and without the
	logotype), the wallpapers (standard VGA resolution, widescreen resolutions, old phone
	resolutions, and new phone resolutions, with or without logo), presentation templates
	(PowerPoint template files and .SVG and .AF files for image-based presentations) and
	source assets (which include both .SVG as an open format for the majority of the programs
	and .AF for Affinity Studio v3), but we are also providing other assets that may be useful,
	such as audio branding, which includes a variety of instrumentals, and official fonts, which
	have been chosen carefully during the first stage of the rebrand.
</Jumbotron>
<Features FeatureArray="@FontAssets" />
<Jumbotron Title="Usage of logo source files" BackgroundType="BackgroundType.Alternative">
	You are allowed to use the logo source files, but only for viewing and resizing, as long as
	you respect the aspect ratio of our logos and assets used in your design. When you resize the
	source SVG or AF file, you'll need to use the appropriate tools to resize both the document
	and the logo elements in a group. Typically, you can use Inkscape to resize the provided SVG
	files, but we recommend that you use AF files as the primary source with Affinity Studio v3,
	which you can obtain here. Additionally, you can use the source files to export to destination
	formats, such as JPEG. However, resizing is bound to the below rule.
	<br />
	<div class="col d-flex align-items-start">
		<img class="img-fluid bordered bordered-radius" src="assets/misc/guidelines/section01-source-resize-affinity.png" />
	</div>
</Jumbotron>
<Jumbotron Title="Resizing rules" BackgroundType="BackgroundType.Alternative">
	When you resize either the source vector graphics files provided in the press kit or you resize
	the PNG files, you'll need to respect the aspect ratio that is used in the official graphics.
	This means that you may not resize the image in a way that looks warped or stretched, and you
	may not perform other transformations made to the image files in your design.
	<br />
	<div class="col d-flex align-items-start">
		<img class="img-fluid bordered bordered-radius" src="assets/misc/guidelines/section02-resizing.png" />
	</div>
</Jumbotron>
<Jumbotron Title="Color rules" BackgroundType="BackgroundType.Alternative">
	When you use our graphics, it’s essential to not only preserve the aspect ratio, but preserve
	the original colors that are used in your design. Generally, we are providing two versions of
	our logos: transparent background and opaque background. If you used transparent background
	version, you can use our logo anywhere (logotype or not), but we prefer that background colors
	match one of the following colors (either black, accented, or official gradient) as clarified in
	this infographic.
	<br />
	<div class="col d-flex align-items-start">
		<img class="img-fluid bordered bordered-radius" src="assets/misc/guidelines/section03-color-rules.png" />
	</div>
	<br />
	However, if you decided to use the opaque background version, you may only use both the black
	background version and the accented static background version, Alt1. The accented gradient
	background version, Alt2, may only be used as a background of a circle shape, such as lists.
	The below infographic clarifies this usage.
	<br />
	<div class="col d-flex align-items-start">
		<img class="img-fluid bordered bordered-radius" src="assets/misc/guidelines/section04-color-rules.png" />
	</div>
	<br />
	Monochrome version may also be used, though it’s reserved for Word documents that are to be
	printed with black and white printers (ink and laser). If your printer is capable of printing
	colors, it’s recommended that you use the transparent background colored version with a white
	paper.
	<br />
	<div class="col d-flex align-items-start">
		<img class="img-fluid bordered bordered-radius" src="assets/misc/guidelines/section05-color-rules.png" />
	</div>
</Jumbotron>
<Jumbotron Title="Templates for presentations" BackgroundType="BackgroundType.Alternative">
	We are also providing templates for presentations to make them more reproducible and consistent
	with our branding. You may use our template for presentations, but you should respect the template
	itself. This means that you may not change the font size of the text, position and size of the
	elements, and background of the slides. You are free to choose any of the backgrounds, provided
	that you should respect the background color used, and use as much transparent PNGs in your slides,
	if they contain images, as possible.
	<br />
	<div class="col d-flex align-items-start">
		<img class="img-fluid bordered bordered-radius" src="assets/misc/guidelines/section06-presentation-rules.png" />
	</div>
</Jumbotron>
<Jumbotron Title="Margin guidelines" BackgroundType="BackgroundType.Alternative">
	When designing any figure that clarifies a statement or two, we've set up a set of guidelines
	that you'll need to follow, such as margins and borders. In general, no asset should overlap the
	Aptivi logo that is shown in the lower right corner, and the maximum line count of the decription
	of the content that is shown at the bottom of the figure is two. The below figure shows you the
	margin guidelines for every design that should follow them, including the four margins, the
	description borders, and the content container size.
	<br />
	<div class="col d-flex align-items-start">
		<img class="img-fluid bordered bordered-radius" src="assets/misc/guidelines/section07-margin-guidelines.png" />
	</div>
</Jumbotron>
<Features FeatureArray="@OtherRules" />
<Hero Title="Report any violations" Buttons="@(Agreed ? ReportCallbacksAgreed : ReportCallbacks)" ForceSecondaryButtons="@(!Agreed)">
	In case you came across a design that you suspect might violate our
	guidelines, or you have a presentation or a design that you need to
	propose to us, please contact us.
	<br />
	<br />
	<label><InputCheckbox class="form-check-input" @bind-Value="Agreed"></InputCheckbox> I agree with the guidelines</label>
</Hero>

@code
{
	public bool Agreed { get; set; } = false;
	FeatureDescriptor[] LogoAssets =>
	[
		new()
		{
			IconClass = "fa-solid fa-eye",
			Title = "Brand logos",
			Description =
				"The branding kit includes the brand logos of both the normal variant and the monochrome variant. " +
				"We also provide you with both the logotype variant, which is useful for presentations and other " +
				"places that a wide logo is preferred, and the logo-only variant, which is useful for square " +
				"elements that need to show a logo. It also includes app and library icons."
		},
		new()
		{
			IconClass = "fa-solid fa-image",
			Title = "Wallpapers",
			Description =
				"We are also providing wallpapers for our official branding, which are useful for different screen " +
				"types, from standard VGA resolution to widescreen and 16:10 screens. Not only that, but we're also " +
				"providing versions for phones in both the old screen format for old phones and the new screen format " +
				"for modern phones, and they're compatible with major operating systems."
		},
		new()
		{
			IconClass = "fa-solid fa-chalkboard",
			Title = "Presentation Templates",
			Description =
				"We are also providing presentation templates for those who are creating presentations for us. Those " +
				"templates are provided in both the Affinity Studio format for image-based presentations and the " +
				"PowerPoint template files for slide-based presentations. Image-based presentations are usually used " +
				"for websites and other places, while slide-based ones are used in both physical and virtual conferences."
		},
		new()
		{
			IconClass = "fa-solid fa-code",
			Title = "Source Files",
			Description =
				"For those who'd like to see everything behind the scenes and provide scalable versions of our image " +
				"assets, we're providing source files in both the .SVG files with open standards and the .AF files " +
				"created specifically for Affinity Studio. This makes sure that our branding gets scaled in the way " +
				"and the size you desire without experiencing pixelations, while preserving quality and smoothness."
		},
	];
	FeatureDescriptor[] FontAssets =>
	[
		new()
		{
			IconClass = "fa-solid fa-heading",
			Title = "Heading font",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://fonts.google.com/specimen/Space+Mono", "_blank"))), "Learn more")
			],
			Description =
				"The heading font has been chosen with Space Mono as the default font, which is an open source font " +
				"that provides both a modern and a futuristic look and feel, which aligns with our mission of taking " +
				"a look at the future of technology. The heading describes the start of a section to give users a clear " +
				"indication that they've moved on to the next section."
		},
		new()
		{
			IconClass = "fa-solid fa-font",
			Title = "Body font",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://fonts.google.com/specimen/Inter", "_blank"))), "Learn more")
			],
			Description =
				"The body font has been carefully chosen, and to align with the recent design trends, as well as the " +
				"bold, modern look, we've chosen Inter as the default body font, which is commonly found in the majority " +
				"of our assets. This font provides readable characters, with carefully designed contours to ensure that " +
				"clarity is the first priority when it comes to both printing on papers and displaying on screens."
		},
		new()
		{
			IconClass = "fa-solid fa-code",
			Title = "Code font",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://fonts.google.com/specimen/JetBrains+Mono", "_blank"))), "Learn more")
			],
			Description =
				"As technology is all about us, and we write code and programming-related articles and demonstrations, " +
				"as well as showcases for code and general code tags in websites and designs, we've chosen JetBrains " +
				"Mono as the default code font. The futuristic look of the font, as well as the unmatched monotype " +
				"display, ensures that code becomes readable, clear, and easy to comprehend with ligature support."
		},
		new()
		{
			IconClass = "fa-solid fa-align-right",
			Title = "RTL font",
			Buttons = [
				(EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://fonts.google.com/specimen/Cairo", "_blank"))), "Learn more")
			],
			Description =
				"To achieve internationalization of our assets, we've chosen a fourth display font that covers the " +
				"whole design for right-to-left text scripts, such as Arabic. To provide support for such scripts, " +
				"we have decided to choose a font that aligns with both our standards and general modern standards " +
				"according to the recent design trends. Cairo is bold, versatile, and attractive."
		},
	];
	FeatureDescriptor[] OtherRules =>
	[
		new()
		{
			IconClass = "fa-solid fa-ranking-star",
			Title = "Self-promotion",
			Description =
				"You may not use any of our assets to promote your product, especially when said product is paid. " +
				"Our assets include our logos, our branding sounds, and our name. You may not create products whose " +
				"name derives from our name or any of our products’ names. However, you may mention our products and " +
				"our name in the description and other text, provided that you don’t promote your products using our " +
				"name."
		},
		new()
		{
			IconClass = "fa-solid fa-brain",
			Title = "AI Usage",
			Description =
				"Today's technology is mostly focused on artificial intelligence (AI), which makes people's lives " +
				"much easier. We have seen how important AI is in today's life. However, we've also seen concerns " +
				"about potential issues during the usage of AI, such as licensing, hallucination, and other concerns. " +
				"Therefore, we recommend that you make your designs without any AI assistance to ensure consistency " +
				"and reliability."
		},
	];
	(EventCallback, string)[] ReportCallbacks =>
	[
		(EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://officialaptivi.wordpress.com/contact/", "_blank"))), "Contact us")
	];
	(EventCallback, string)[] ReportCallbacksAgreed =>
	[
		(EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://github.com/Aptivi/Branding/releases/tag/260212", "_blank"))), "Download"),
		.. ReportCallbacks
	];
}
